body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

h3 {
  text-align: center;
}
.choice-btn {
  padding: 5px;
  margin: 5px;
}

.choice-card {
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 50px;
  background-color: white;
}
